@import url('http://fonts.googleapis.com/css?family=VT323');
body {
    font-family: 'VT323';
    padding:0;
    margin:0;
    background:#666;
  }
  canvas {
    font-family: 'VT323';
    display:block;
    margin:30px auto 0;
    border:1px dashed #ccc;
    background:#000;
  }

